.vs/
.vscode/
*.user
*.suo
*.sln.docstates
bin/
obj/
packages/
.idea/
node_modules/
dist/
tmp/
temp/
coverage/
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.DS_Store
Thumbs.db
*.local
*.sqlite
*.sqlite3
*.db
*.mdf
*.ldf
*.pid
*.seed
*.bak
.env
.env.local
.env.*.local
.env.development
.env.development.local
.env.production
.env.production.local
.env.test
.env.test.local
.pnp/
.pnp.js
.angular/
*.tmp
*.temp
*.js
*.js.map
test-results/
.idea/
build/
out/
package-lock.json
yarn.lock
*.dll
*.exe
*.pdb
*.swp
$RECYCLE.BIN/
.session/
.history/
.history-visualizer/
.code-workspace
